* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif; 
    --main-color-grey: #666;
    --main-color-greyish: #808080;
    --main-color-dark: #000;
    --main-color-white: #fff;
    --main-color-blue: #00c2da;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.hero {
    height: 95vh;
    width: 100%;
    background-image: url('pictures/MAT_8119.JPG');
    background-color: var(--main-color-white);
    background-size: cover;
    background-position: center; 
}



.mobile_nav_toggle {
    display: none;
}

nav ul {
    flex-direction: column;
    margin: 3rem 0;
}

nav li {
    margin: 0.5rem 0;
}

nav a {
    color: var(--main-color-white);
}

nav a:hover, a:visited, a:active {
    text-decoration: underline;
}

@media (max-width: 25rem) {

    nav {
        inset: 0 30% 0 0;
        background-color: var(--main-color-greyish);
        position: fixed;
        opacity: 0.7;
        padding: min(20vh, 2rem);
        max-height: 95vh;
        transform: translateX(-100%);
    }
    .prim_nav[data-visible="true"] {
        transform: translateX(0%);
    }
    .mobile_nav_toggle {
        display: block;
        background-image: url('pictures/menu_icon.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        position: absolute;
        z-index: 999;
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        left: 2rem;
    }
    .mobile_nav_toggle[aria-expanded='true'] {
        background-image: url('pictures/x-symbol-svgrepo-com.svg');
    }
}