* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif; 
    --main-color-grey: #666;
    --main-color-greyish: #808080;
    --main-color-dark: #000;
    --main-color-white: #fff;
    --main-color-blue: #00c2da;
}

.hero {
    height: 95vh;
    width: 100%;
    background-image: url('pictures/MAT_8119.JPG');
    background-color: var(--main-color-white);
    background-size: cover;
    background-position: center; 
}

nav {
    inset: 0 30% 0 0;
    background-color: var(--main-color-white);
    opacity: 0.7;
    color: var(--main-color-grey);
    padding: 1rem;
}

nav ul {
    display: flex;
    flex-direction: column;
}

nav a {
    margin: 0.5rem 0;
}

nav a:hover, a:visited, a:active {
    text-decoration: underline;
}

@media (max-width: 25rem) {
    .hero nav {
        position: fixed;
    }
}